:root {
  --ff_sans: "Noto Sans KR";
  --ff_serif: "Noto Serif KR";
  --bg_color: #f9f9f9;

}

@mixin layout_center {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}