@import "./mixin";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.page-header{
  padding-bottom: 10px;
  // position: fixed;
  width: 100%;
  padding-top: 80px;
  background: #efefef;
  z-index: 1;



  header{
   @include layout_center;

   display: flex;
   justify-content: space-between;
  
  .hdr{
    //재귀: 다시선택
    &-left{
      width: 680px;
      h6{font-family: var(--ff_sans);
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        color: #ccc;
      }

      h2{
        font-family: var(--ff_sans);
        font-weight: 700;
        font-size: 60px;
        line-height: 60px;
        color: #000;
        margin-top: -30px;
        padding-left: 20px;
      }

      p{
        font-family: var(--ff_sans);
        color: #555;
        padding-left: 20px;
        padding-top: 20px;
        font-size: 16px;
        line-height: 20px;
      }
    }

    &-right{
      width: calc(100% - 680px);
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}
}

button{
  color: #FFF;
  background-color: #09f;
  border: 0;
  height: 30px;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

  &.dim{
    background-color: #999;
  }

  &.active{
    background-color: #06f;
  }
}

input{
  height: 30px;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 0 10px;
 border-radius: 4px;
}