.p02 {
  section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 40px;

    article {
      width: calc(50% - 20px);

      .radioBtn {
        display: none;
      }
    }
  }
}