@import "./mixin.scss";

.page-body-07 {
  section {
    display: flex;
    justify-content: space-between;


    .art-wrap-left {
      width: calc(60% - 10px);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      height: 400px;

      article {
        height: 120px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 0 30px;

        .percent {
          text-align: right;
          font-size: 48px;
          font-weight: 700;

          span {
            font-size: 30px;
            font-weight: 300;
          }
        }
      }
    }

    .art-wrap-right {
      width: calc(40% - 10px);
      height: 400px;
      border: 1px solid #ccc;
      border-radius: 10px;
    }
  }
}