@import "./mixin";

.page-head-04 {
  padding-top: 40px;

  .art-header {
    @include layout-center;
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 40px;

    .hdr-left {
      width: 50%;

      & {
        height: 40px;
        display: flex;
        align-items: center;

        label {
          display: flex;
          align-items: center;
          margin-right: 20px;
          cursor: pointer;

          input {
            display: none;
          }

          input~svg:nth-of-type(1) {
            display: block;
            color: #ccc;
          }

          input:checked~svg:nth-of-type(1) {
            display: none;
          }

          input~svg:nth-of-type(2) {
            display: none;
          }

          input:checked~svg:nth-of-type(2) {
            display: block;
          }

          input~span {
            color: #999;
            padding-left: 4px;
            font-weight: normal;
          }

          input:checked~span {
            color: #000;
            font-weight: bold;
          }
        }
      }
    }
  }

  .hdr-right {
    width: 50%;
    padding-left: 20px;
  }
}




.page-body-04 {
  section {
    display: flex;
    overflow: hidden;

    .art-box {
      width: 50%;
    }

    .art-wrap {
      &-left {
        height: 100%;
        overflow-y: auto;

        .card-wrap {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          padding: 10px 0;
        }
      }

      &-right {
        height: 100%;
        overflow-y: auto;

        .card-payment-box {
          .card-payment-list {

            li {
              padding: 15px 20px;
              display: flex;
              justify-content: space-between;

              .list-left {

                h5 {
                  font-size: 16px;
                  line-height: 20px;
                  height: 20px;
                  color: #666;
                }

                p {
                  font-family: "Noto Sans KR";
                  height: 20px;
                  font-size: 14px;
                  color: #999;
                }
              }

              .list-right {
                h5 {
                  color: #666;
                  height: 40px;
                  line-height: 40px;
                  font-size: 24px;

                  span {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }

      .art-head {
        border-bottom: 1px solid #ccc;
        height: 40px;

        h4 {
          padding-left: 20px;
        }
      }
    }
  }
}