.page-head-01 {
  position: relative;
  z-index: 100;

  .card-box {}
}


.page-body-01 {
  section {
    display: flex;
    padding-top: 40px;
    overflow: hidden;

    .art-box {
      width: calc(100% - 460px);
      padding-right: 40px;

      article {
        margin-top: 40px;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }

    .img-box {
      width: 460px;
      height: 260px;

      margin-top: -160px;

      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.3);
      position: relative;


      &::before {
        display: block;
        content: '';
        width: 380px;
        height: 600px;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        margin: auto;
        top: 120px;
        right: -140px;
        border-radius: 20px;
      }
    }
  }
}