@import "./mixin";

.page-head {
  padding-top: 80px;
  background-color: var(--bg_color);

  header {
    @include layout_center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .hgroup {
      &>*:nth-child(2) {
        margin-top: -20px;
      }

      h6 {
        display: flex;
        align-items: center;
        height: 40px;
        font-weight: 900;
        font-size: 48px;
        color: #ccc;
      }

      h2 {
        display: flex;
        align-items: center;
        height: 60px;
        font-size: 60px;
        color: #000;
        text-indent: 20px;

      }

      h3 {
        display: flex;
        align-items: center;
        height: 20px;
        font-size: 24px;
        color: #000;
        text-indent: 20px;
      }

      h5 {
        display: flex;
        align-items: center;
        height: 60px;
      }

      p {
        height: 60px;
        display: flex;
        align-items: center;
      }

      ul {
        display: flex;
        height: 60px;
        align-items: center;

        li {
          display: flex;
          align-items: center;
          color: #fff;
          background-color: #000;
          border-radius: 100px;
          margin: 0 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          span {
            height: 20px;
            margin-left: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            font-weight: 300;
            padding: 0 4px;

            &:nth-of-type(2) {
              font-size: 14px;
              padding-left: 0;
              cursor: pointer;
            }
          }
        }
      }
    }

    .btngroup {
      // width: calc(100% - 680px);
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        margin-left: 10px;
      }
    }
  }
}