.popup-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0,0,0, 0.80);

  //폼을 가운데로 (팝업박스가 하나일 때만 가능)
  display: flex;
  justify-content: center;
  align-items: center;


  .popup-box{
    width: 780px;
    height: 480px;
    background-color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
  
    position: relative;

    form{
      display: flex;
      flex-direction: column;
      width: 380px;
  

      input{
        margin-top: 10px;
      }
      button{
        margin-top: 10px;
      }

      input.email{}

      input.password{}

      .login{}

      .signup{
        background-color: transparent;
        color: #06f;
        box-shadow: none;
      }

      .naver{
        background-color: #00ce00;
        margin-top: 30px;
      }

      .google{
        background-color: white;
        color: #000;
      }

      .github{
        background-color: black;
      }
    }
    .close-btn{
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}